<!DOCTYPE html>
<html>
    <head>
        <title >AULA EXAMEN</title>
        <!--<meta charset="utf-8"/>-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

        <link rel="stylesheet" href="estilo.css" media="screen"/>
        
    </head>
    <body class="fondo" background="img-noise-361x370.png">
        <p class="titulo">AULA EXAMEN</p>
        <div class ="row info">
            <div class="col text-center">Fundamentos de los Computadores</div>
            <div class="col text-center">Aula 2</div>
            <div class="col text-center">Curso: 1ºA</div>
        </div>
        <br>
            <div class="row alumnos">
                <button class="col btn btn-link al" type="button">Alumno 43</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 44</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 45</button>
                <button class="col btn btn-link al" type="button">Alumno 46</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 47</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 48</button>
            </div>
            <br>
            <div class="row alumnos">
                <button class="col btn btn-link al" type="button">Alumno 37</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 38</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 39</button>
                <button class="col btn btn-link al" type="button">Alumno 40</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 41</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 42</button>
            </div>
            <br>
            <div class="row alumnos">
                <button class="col btn btn-link al" type="button">Alumno 31</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 32</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 33</button>
                <button class="col btn btn-link al" type="button">Alumno 34</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 35</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 36</button>
            </div>
            <br>
            <div class="row alumnos">
                <button class="col btn btn-link al" type="button">Alumno 25</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 26</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 27</button>
                <button class="col btn btn-link al" type="button">Alumno 28</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 29</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 30</button>
            </div>
            <br>
            <div class="row alumnos">
                    <button class="col btn btn-link al" type="button">Alumno 19</button>
                    <button class="col btn btn-link al" type="button">-</button>
                    <button class="col btn btn-link al" type="button">Alumno 20</button>
                    <button class="col btn btn-link al" type="button">-</button>
                    <button class="col btn btn-link al" type="button">Alumno 21</button>
                    <button class="col btn btn-link al" type="button">Alumno 22</button>
                    <button class="col btn btn-link al" type="button">-</button>
                    <button class="col btn btn-link al" type="button">Alumno 23</button>
                    <button class="col btn btn-link al" type="button">-</button>
                    <button class="col btn btn-link al" type="button">Alumno 24</button>
            </div>
            <br>
            <div class="row alumnos">
                <button class="col btn btn-link al" type="button">Alumno 13</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 14</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 15</button>
                <button class="col btn btn-link al" type="button">Alumno 16</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 17</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 18</button>
            </div>
            <br>
            <div class="row alumnos">
                <button class="col btn btn-link al" type="button">Alumno 7</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 8</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 9</button>
                <button class="col btn btn-link al" type="button">Alumno 10</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 11</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 12</button>
            </div>
            <br>
            <div class="row alumnos">
                <button class="col btn btn-link al" type="button">Alumno 1</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 2</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 3</button>
                <button class="col btn btn-link al" type="button">Alumno 4</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 5</button>
                <button class="col btn btn-link al" type="button">-</button>
                <button class="col btn btn-link al" type="button">Alumno 6</button>
            </div>
        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    </body>
</html>